body{
    background: #eee;
}

#content{
    width: 400px;
    background: #ddaaaa;
    padding: 20px;
    font-family: calibri;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ff7777;
    font-weight: bold;
